@import '../../colors.scss';

.topbarContainer{
  background: $blue;
  color: $white;
  font-family: $regular;
  padding: 0.5rem 10vw;
  display: flex;
  justify-content: space-between;
  min-width: 956px;
  width: 100%;
  box-sizing: border-box;
  .topbarNavigationMenu{
    width: 70%;
    align-self: center;
  }
  &.mobile{
    padding: 0.5rem;
    min-width: 280px;
  }
}