@import '../../colors.scss';

.topbarContainer{
  background: $blue;
  color: $white;
  font-family: $regular;
  padding: 0.5rem 10vw;
  display: flex;
  justify-content: space-between;
  min-width: 956px;
  //width: calc(100% - 20vw);
  .topbarNavigationMenu{
    width: 70%;
    align-self: center;
  }
  &.mobile{
    padding: 0.5rem;
    width: calc(100% - 1rem);
    min-width: 300px;
  }
}