.leadsPageContainer{
  width: 100vw;
  padding: 0.5rem 10vw;
  min-width: 756px;
  box-sizing: border-box;
  .leadListContainer{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 20px;
  }
  &.mobile{
    min-width: 280px;
    //  width: 90vw;
    .leadListContainer{
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
