@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
$regular: 'Rubik', sans-serif;

$black: #17253A;
$darkGreen: rgb(43, 122, 120);
$green: #32CD32;
$lightGreen: #DEF2F1;
$white: #FEFFFF;
$blue:#5680E9;
$lightBlue:#83CEEB;
$skyBlue:#5AB9EA;
$grey:#C1C8C9;
$lightGrey: hsla(0,0%,67.5%,.2);
$purple:#8860D0;