@import '../../../../colors.scss';
$regular: 'Rubik', sans-serif;

.passwordField{
  width: 100%;
  position: relative;
  .inputFieldLabel{
    font-size: 0.875rem;
    color: $blue;
    text-transform: uppercase;
    font-family: $regular;
    font-weight: 500;
    cursor: pointer;
  }
  input{
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 2px solid $grey;
    background: $white;
    outline: none;
    transition: border 0.3s ease;
    font-family: $regular;
    font-size: 1rem;
    font-weight:600;
    color: $black;
  }
  input::placeholder{
    color: $grey;
  }
  input:focus{
    border: 2px solid $blue;
    &::placeholder{
      visibility: hidden;
    }
  }
  .passwordIconContainer{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;
    .passwordIcon{
      color: $blue;
      cursor: pointer;
    }
  }
}
.passwordValidatorError{
  text-transform: none;
  color: red;
  font-size: 0.6rem;
  font-family: $regular;
  font-weight: 500;
  cursor: context-menu;
}
