@import '../../../../colors.scss';


.passwordField{
  position: relative;
  .passwordIconContainer{
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.45rem 1rem 0.5rem;
    .passwordIcon{
      color: $blue;
      cursor: pointer;
    }
  }
}